<div class="l2-l3-category-filter">
    <form action="">
        <ul class="category-wrapper-ul">
            {{#each category}}
            <li class="category-wrapper-li category-list" data-filtertype="levelTwoCategories" data-selected="{{this.count}}">
                <input type="radio" data-filterparams=":relevance:usageType:{{this.title}}" id="{{this.title}}" name="category-radio" value="{{this.title}}">
                <label for="{{this.title}}">{{this.title}}</label>
            </li>
            {{/each}}
        </ul>
    </form>
</div>