<div class="filter_icon"><img src="/assets/icons/Filter.svg" alt="filter_icon"><a href="#">Filter</a></div>
<div class="productcollection__filters">
    {{> oca-category-filter-component}}
    <div class="filter-type-wrapper">
    <div class="productcollection__filters-mobile-header">
        <img class="filter-back-icon" src="/assets/icons/Arrow_Blue.svg">
        <span class="filter-back-text">Back</span>
        <button class="filter-apply-btn">Apply</button>
    </div>
    <div class="productcollection__filters-header">
        <h5 class="productcollection__filters-title">Filter</h5>
    </div>
    <ul class="productcollection__filters-body-oly">
        <li class="productcollection__filter-oly">
            {{!-- <input type="radio" id="price" name="activeFilter" class="productcollection__filter-toggler"> --}}
            <label data-filtertype="ProductSpeciality" for="price" class="productcollection__filter-header-oly">
                <span class="productcollection__filter-title-oly">Product Speciality</span>
                <span class="productcollection__filter-icon productcollection__filter-icon--open"><img src="/assets/icons/Arrow_OlyBlue.svg"></span>
                {{!-- <span class="productcollection__filter-icon productcollection__filter-icon--closed"><img src="/assets/icons/Arrow_OlyBlue.svg"></span> --}}
            </label>
            <ul class="productcollection__filter-items-oly">
                {{#each filters}}
                <li>
                    <label data-filterparams=":relevance:usageType:{{this.title}}" data-filterselected="{{this.selected}}" class="productcollection__filter-item-oly checkbox-container"><span class="filter-text">{{this.title}}</span>
                        <input type="checkbox" id="{{this.title}}">
                        <span class="checkmark"></span>
                    </label>
                </li>
                {{/each}}
            </ul>
        </li>
        <li class="productcollection__filter-oly">
            {{!-- <input type="radio" id="price" name="activeFilter" class="productcollection__filter-toggler"> --}}
            <label data-filtertype="ProductType" for="price" class="productcollection__filter-header-oly">
                <span class="productcollection__filter-title-oly">Product Type</span>
                <span class="productcollection__filter-icon productcollection__filter-icon--open"><img src="/assets/icons/Arrow_OlyBlue.svg"></span>
                {{!-- <span class="productcollection__filter-icon productcollection__filter-icon--closed"></span> --}}
            </label>
            <ul class="productcollection__filter-items-oly">
                {{#each productTypefilters}} 
                <li>
                    <label data-filterparams=":relevance:usageType:{{this.title}}" data-filterselected="{{this.selected}}" class="productcollection__filter-item-oly checkbox-container"><span>{{this.title}}</span>
                        <input type="checkbox" id="{{this.title}}">
                        <span class="checkmark"></span>
                    </label>
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
    </div>
</div>